{% extends 'base.html' %}
{% block title %}Home{% endblock %} 


{% block content %} 

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto">Discover the Ultimate Life Hacks to make your life easier and fun</h1>

        <p class="pt-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus maxime culpa ullam optio, 
        excepturi delectus rem deserunt dicta facilis, voluptate perferendis cum incidunt molestias similique corporis a? Labore, 
        voluptatibus ex!
    </section>
    
</div>

{% endblock %}