{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container flex-column pt-3">
    <div class="image-container text-center">
        <img class="hero-img"
            src=https://res.cloudinary.com/dript5k0k/image/upload/v1688634363/lamp-432250_1280.e23e277bd528_jtci12.webp
            alt="image of a hand holding a bulb">
    </div>
    <div class="title-text text-center pt-4">
        <h1 class="main-title mx-auto">Welcome to Life Hack: Your Shortcut to Smart Living!</h1>
        <p class="main-text pt-3 mx-auto">
            In a world full of complexities, we're your guide to simplicity. Our mission?
            Turning everyday challenges into opportunities, making life more efficient, and above all, enjoyable.
            Whether you're seeking productivity hacks, health tips, or creativity boosters, we've got it all.

            But Life Hack is more than a hub of clever tips and tricks - it's a thriving community of life enthusiasts
            committed to self-improvement and innovation.
            <br>
            Join us as we unravel the art of smart living.
            <br>
        </p>
        <a href="{% url 'hacks' %}" class="btn btn-outline-dark m-4 main-btn mx-auto">
            <span>Explore</span>
        </a>
    </div>
</div>
{% endblock %}