
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/*Clear all formattings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 247, 242);
}

main {
    flex: 1 0 auto;
    background-color: rgb(252, 247, 242);
} 

h1, h2, h3, h4 ,h5, h6 {
    font-family: 'Lato' , sans-serif;
}
/* Header*/
.container-fluid {
    background-color:rgb(232, 188, 215);
    box-shadow: 1px 1px 5px 0 #d4c1c361;
}   

.nav-item {
    text-transform: uppercase;
}

a.nav-link {
    color: rgb(49, 44, 44);
    color: black;
    font-size: 1.1rem;
}

.logo {
    height: 10rem;
    width: 20rem;
    border-radius: 5%;
}

.form-text {
    margin-top: 30px;
 
}

.title-text {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-text {
    font-size: 1.2rem;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: 250px;
}
/* Form */
.form {
    margin: 3% auto;
    width: 80%;
    border-radius: 5px;
}

.linebreak {
    border-bottom: 1px solid rgb(177, 166, 179);
    box-shadow: 1px 1px 5px 0 #d4c1c361;
}

.main-btn {
    width: fit-content;
}
/* Hacks */
.hack-title {
    font-size: 20px;
}

.hack-title:first-letter{
    text-transform: capitalize;
}

.hack-detail-title:first-letter{
    text-transform: capitalize;
}

.hack-detail-img {
    max-height:500px;
    object-fit: cover;
    width: 100%;
}

.hack-detail-card {
    border: 0.5px solid rgb(177, 166, 179);
   
}

.hack-detail-background {
    color: #886363;  
}
.hero-img{
    height: auto;
    width: 80%;
}

/* Footer */
footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 188, 215);
    justify-content: center;
    align-items: center;
    border-top: 1px solid;
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}
/* Xsmall devices*/
@media screen and (max-width: 575px) { 
    .logo {
        width: 200px;
        height: auto;
    }
    .hero-img {
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) { 
    .logo {
        width: 240px;
        height: auto;
    }
    .hero-img {
       width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: 10vw;
        height: 10vw;
    }
    .form {
        margin: 3% auto;
        width: 60%;
        border-radius: 5px;
    }
    .form-text {
        font-size: 16px;
    }
 }
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
    .logo {
        width: 280px;
    }
    .hero-img {
        width: 100%;
     }
    .form-text {
        font-size: 18px;
    }
    .form {
        width: 60%;
    }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .logo {
        width: 200px;
    }
    .form {
        width: 60%;
    }
    .form-text {
        font-size: 18px;
    }
    .main-text {
        width: 80%;
    }
    a.nav-link {
        text-align: center;
    }
 }
/* X-Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 
    a.nav-link {
        font-size: 1.3rem;
 }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) { 
    .logo {
        width: 250px;
    }
    a.nav-link {
        font-size: 1.5rem;
    }
}