{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add Hack
{% endblock %}

{% block content %}
<!-- Message -->
<div class="container">
    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
{% endif %}
    <!-- Create Hack form -->
    <form method="post" class="form mb-5" enctype="multipart/form-data">
        <h1 class='text-center'>Add Hack</h1>
        {{ form | crispy }}
        {% csrf_token %}
        {{ form.media }}
        <div class="text-center">
        <button type="submit" class="btn btn-outline-dark text-center">Submit</button>
        <a class="btn btn-outline-dark m-2" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}