{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add Comment
{% endblock %}

{% block content %}
<div class="container mx-auto">
    <form method="post" class="form mb-5" enctype="multipart/form-data">
        <h1 class='text-center'>Add Comment</h1>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" value="{{ request.user.username }}" class="form-control" readonly>
        </div>
        {{ form | crispy }}

        {% csrf_token %}
        {{ form.media }}
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark text-center">Submit</button>
            <a class="btn btn-outline-dark m-2" href="{%  url 'hack_detail' pk %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}