{% extends 'base.html' %}
{% load static %}
{% block title %}
Hacks
{% endblock %}

{% block content %}
<div class="container d-flex flex-row flex-wrap justify-content-center">
    <h1 class="text-center m-3">
        Browse Latest Hacks
    </h1>
</div>
<div class="container d-flex-row flex-wrap justify-content-center">
    <hr class="home-break">
    <br>
    <!-- Hack Cards -->
    <div class="row card-deck">
        {% for hack in hacks %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex justify-content-center">
            <div class="card hack-card mb-3 shadow-sm mx-auto mx-sm-2">
                <div class="image-container">
                    {% if "placeholder" in hack.image.url %}
                    <img src="https://res.cloudinary.com/dript5k0k/image/upload/v1688742813/imgweb_hqr5sz_1_1_1_g4h7h2.webp"
                        class="card-img-top" alt="placeholder image">
                    {% else %}
                    <img class="card-img-top img-fit" src="{{ hack.image.url }}" alt="hack image">

                    {% endif %}
                </div>
                <div class="card-body pb-1">
                    <h5 class="card-title hack-detail-title text-truncate hack-detail-background">{{ hack.title }}</h5>
                    <h6>Posted by: {{ hack.created_by }} <br> {{ hack.created_on }}</h6>
                    <h6 class="card-text hack-detail-background"><strong>Category: </strong>{{hack.category}}</h6>
                    <h6 class="card-text hack-detail-background"><img src="{% static 'icons/mag-ich-24.png' %}" alt="like icon counter">({{hack.count_likes}})</h6>
                    <h6 class="card-text hack-detail-background"><img src="{% static 'icons/commentcounter.png' %}" alt="comment icon counter">({{hack.count_comments}})</h6>
                    <a href="{% url 'hack_detail' hack.id %}" class="btn btn-outline-dark m-2">Find out more</a>
                </div>
            </div>
        </div>
        {% empty %}
            <h1 class="text-center">No match found</h1>
        {% endfor %}
           <!-- Pagination -->
        <div class="text-center m-4">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                <span class="current-page">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
