{% load static %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<header>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/life-hack-logo.jpg' %}" alt="Practical Life Hacks log" class="logo">
                </a>
            
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navigation items-->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'hacks' %}">Browse Hacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_hack' %}">Add Hack</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'favorite_hacks' %}">My favourite hacks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/logout">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/signup">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" method="GET" role='search' action = "{% url 'hacks' %}">
                        {% csrf_token %}
                        <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark d-inline" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    
    </header>
    
</header>




